h1{
    background-color: rgb(251, 255, 11);
    /* display:inline; */
    /* margin: 30px;       (display inline pr margin will not work) */
    display: inline;
    /* width: fit-content; */
   
    /* text-align: center; */
    

  
}
.content{  
   margin-top: 150px;
}
 body{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ42SMBkdq-vTKhbfpJ70IuOCB0ZSz7S__4S_jjNLSXhg&s);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100vh; */
    text-align: center;
  
}
.box-1{
    display: inline-block;
    color: #fff;
    background-color:rgba(255, 255, 255, 0.452);
    margin-inline: auto;
    max-width: 500px;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.301);
    border-radius: 7px;
}
.box-2{
    display: inline-block;
    color: #fff;
    background-color:rgba(255, 255, 255, 0.452);
    margin-inline: auto;
    max-width: 500px;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.301);
    border-radius: 7px;
}
.box-3{
    display: inline-block;
    color: #fff;
    background-color:rgba(255, 255, 255, 0.452);
    margin-inline: auto;
    max-width: 500px;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.301);
    border-radius: 7px;
}