body{
    min-height:100vh;
    background-color:rgb(94, 88, 88);
}
.box-container{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    gap: 10px;
}
.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
}